@model HomeIndexViewModel

<form asp-action="Index" data-ajax="true" data-ajax-update="#report" data-ajax-mode="replace" id="form">
    <div class="row mb-3">
        <div class="col-1">
            @Html.DisplayNameFor(model =>model.Filter.BlogTitle)
        </div>
        <div class="col-3">
            @Html.TextBoxFor(model => model.Filter.BlogTitle, new {@class = "form-control textbox"}) @* textbox temizlemek için class ekledik *@
        </div>
        <div class="col-1">
            @Html.DisplayNameFor(model =>model.Filter.CreateDateBegin)
        </div>
        <div class="col-3">
            @* Tarayıcıya göre takvimin gelmemesi gerekiyor bu sebeple javascript ile oluşturmamız gerekiyor. *@
            @* <input asp-for="CreateDateBegin" class="form-control" type="text" /> *@ 
            <div class="input-group">
                @Html.TextBoxFor(model => model.Filter.CreateDateBegin, new {@class = "form-control textbox dateTimePicker", placeholder="Date Begin"})
                <span class="input-group-text">-</span>
                @Html.TextBoxFor(model => model.Filter.CreateDateEnd, new {@class = "form-control textbox dateTimePicker", placeholder="Date End"})
            </div>
        </div>
        <div class="col-1">
            @Html.DisplayNameFor(model =>model.Filter.ScoreBegin)
        </div>
        <div class="col-3">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Filter.ScoreBegin, new {@class = "form-control textbox"})
                <span class="input-group-text">-</span>
                @Html.TextBoxFor(model => model.Filter.ScoreEnd, new {@class = "form-control textbox"})
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-1">
            @Html.DisplayNameFor(model => model.Filter.RoleId)
        </div>
        <div class="col-3">
            @Html.DropDownListFor(model => model.Filter.RoleId, Model.RoleSelectList, "--All Roles--", new {@class ="form-select", id="roles"})
        </div>
        <div class="col-1">
            @Html.DisplayNameFor(model => model.Filter.UserId)
        </div>
        <div class="col-3">
            @Html.DropDownListFor(model => model.Filter.UserId, Model.UserSelectList, "--All Users--", new {@class ="form-select", id="users"})
        </div>
    </div>
        





    <div class="row">
        <div class="offset-1 col-4">
            <button type="submit" class="btn btn-success">Search</button>
            &nbsp;&nbsp;
            <a class="btn btn-primary" id="clear">Clear</a>
        </div>
    </div>
</form>