@model IEnumerable<ReportItemModel>

<div id="report">
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.BlogTitle)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.BlogCreateDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.BlogUpdateDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Score)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.UserName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.RoleName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Active)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Tag)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Popular)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.BlogTitle)
					</td>
					@* <td>
				@Html.DisplayFor(modelItem => item.Content)
				</td> *@
					<td>
						@Html.DisplayFor(modelItem => item.BlogCreateDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.BlogUpdateDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Score)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UserName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.RoleName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Active)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Tag)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Popular)
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>